[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.3"
flask-cors = "==4.0.1"
python-dotenv = "==1.0.1"
requests = "==2.32.3"
chromadb = "==0.5.5"

[requires]
python_version = "3.10"
